In [1]:
import numpy as np
import pandas as pd

In [2]:
str(12356568689)[-4:]

'8689'

In [3]:
def last_four(num) :
    return str(num)[-4:]

In [4]:
last_four(83987238479)

'8479'

In [5]:
df['last_four'] = df['CC Number'].apply(last_four)

NameError: name 'df' is not defined

In [7]:
def yelp(price):
    if price > 10:
        return '&'
    elif price >= 10 and price < 30 :
        return '&&'
    else :
        return '&&&'

In [8]:
df['yelp'] = df['total_bill'].apply(yelp)

NameError: name 'df' is not defined

In [ ]:
#df.apply(FONKSİYON) metodu ile 
#table içindeki bir sutunun tamamına aynı anda
#fonksiyonu uygulamış oluyoruz.

In [ ]:
#df['fonksiyon'] = df.apply(FONKSİYON) şeklinde yeni
#fonksiyonumuzu uyguladığımız sütunu 'fonksiyon' olarak eşitlersek
#mevcut table üzerinde 'fonksiyon' adında yeni bir sütun 
#oluşturmuş oluyoruz.